[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
peewee = "*"
peewee-async = "*"
aiomysql = "*"
aiohttp_security = "*"
jsonschema = "*"
PyJWT = "*"
PyYAML = "*"
Werkzeug = "*"
aiohttp_debugtoolbar = "*"
lxml = "*"
pulsar-queue = {git = "https://github.com/quantmind/pulsar-queue.git", ref = "26ec8cbc291a830bd338c31f8a129cbd15f87a69"}
"e1839a8" = {path = ".", editable = true}
aioredis = "*"

[dev-packages]
yapf = "*"
"flake8" = "*"
isort = "*"
pytest = "*"
pytest-aiohttp = "*"
rope = "*"
pytest-faker = "*"
pytest-mock = "*"
freezegun = "*"
pytest-cov = "*"
async_timeout = "*"
pytest-timeout = "*"

[requires]
python_version = "3.6"
